.center.jumbotron
  %h1
    = t('.title')

  - if signed_in?
    = link_to t('.work_button'), work_path, class: "btn btn-lg btn-primary"
  - else
    = link_to t('.create_account_button'), signup_path, class: "btn btn-lg btn-primary"